@media screen and (max-width:490px){
	#contenedor {
		width:100%;
}
}
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.wrap {
	margin: auto;
	max-width: 90%;/*800px*/
	width: auto;
}
.Contacto li{
	font-size:45px; /*40px*/
	width: auto;
	display: inline-block;
}
.Contacto li a:hover{
	background:#0080C0;
}
ul{
	margin: auto;
	max-width: 850px; /*800px*/
	width: auto;
}
.Lista li{
	list-style-type: square;
	font-size:26px;
}
body{
	background: #fafafa;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	width:auto;
}
h2{
	margin-bottom: 10px;/*10px*/
	text-align: center;
	display:block;
	padding: 10px;
	margin:auto;
	width:auto;
	font-size:15px;
	border: 3px solid #09F;
	text-shadow: 1px 1px 0px #09F;
}
div{
	background:rgb(172, 198, 224);
	width:auto;
}
img{
	border-radius:5px;
	box-shadow:5px 5px 0px #333;
	padding:10px;
	border:2px solid #666;
}
h1{
	margin:auto;
	border: 6px solid #09F;
	font-size:39px;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	width:auto;
	text-shadow: 1px 2px 0px #09F;
}
li{
	text-shadow: 1px 1px 0px #09C;
	margin:20px 40px;
	list-style-type:square;
	font-size:22px;
	font-family:Verdana, Geneva, sans-serif;
	text-align: left;
	margin-bottom: 20px;
	padding: 10px;
	width: 129%;
	size:50px;
}
p{
	border: 6px solid #09F;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
}
